<main id="content" role="main">
  <div class="u-bg-light-blue-50">
    <div class="container-fluid u-space-3">
      <div class="col-md-8 offset-2">
        <h4 class="mt-3 ml-3">Задачи</h4>
        <p>
          Download:
          <%= link_to "CSV", project_todos_url(format: "csv") %>
        </p>
        <div class="card">
          <div class="card-body">
            <h1>Incomplete Tasks</h1>
            <ul>
              <% for todo in @incomplete_todos %>
                <li>
                  <%= todo.title %>
                </li>
              <% end %>
            </ul>

            <h1>Complete Tasks</h1>
            <ul>
              <% for todo in @complete_todos %>
                <li>
                  <%= todo.title %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>