#flash_notice {
  @extend .alert !optional;
  @extend .alert-success !optional;
  margin-bottom: 0rem;
  border-radius: 0rem;
}
#flash_error, #flash_alert {
  @extend .alert !optional;
  @extend .alert-danger !optional;
  margin-bottom: 0rem;
  border-radius: 0rem;
}
#flash_warning {
  @extend .alert !optional;
  @extend .alert-warning !optional;
  margin-bottom: 0rem;
  border-radius: 0rem;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  height: 100%;
  margin-bottom: 72px;
}

.u-sticky-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 72px;
}