<footer>
  <div class="container u-space-1-bottom u-space-1-top">
    <div class="row justify-content-between align-items-center">
      <div class="col-sm-5 mb-3 mb-sm-0">
        <!-- Copyright -->
        <p class="small mb-0">© 2019. Himinec M.</p>
        <!-- End Copyright -->
      </div>

      <div class="col-sm-6 text-sm-right">
        <!-- Social Networks -->
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a class="u-bg-transparent u-icon u-icon-secondary--air" href="#">
              <span class="fab fa-twitter u-icon__inner"></span>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="u-bg-transparent u-icon u-icon-secondary--air" href="https://github.com/MihailHiminec">
              <span class="fab fa-github u-icon__inner"></span>
            </a>
          </li>
        </ul>
        <!-- End Social Networks -->
      </div>
    </div>
  </div>
</footer>